@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700&family=Shrikhand&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
}
.logo {
    font-family: "Shrikhand", cursive;
    color: #4bbdfd;
}
.escobar {
    background: url("./Images/hero-pic.jpg");
}
.sidebar-section {
    height: calc(100vh-10rem);
}
.hero-img{
    background: url("./Images/hero-pic.jpg"), linear-gradient(to right, #e5e5e567, #eeeeee73);
    background-position: center;
    background-blend-mode: overlay;
    background-position-x: left;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-img:hover{
    background: url("./Images/hero-pic.jpg"),linear-gradient(to right, #e5e5e565, #fafafac7);
    background-position: center;
    background-blend-mode: overlay;
    background-position-x: left;
    background-size: cover;
    background-repeat: no-repeat;

}